
  body
   {
     overflow-x: hidden;
     background-attachment: fixed;
  }
	img
	{
		float:left;
		padding-left: 50px;
    opacity: 3;
		height: 2.5rem;
		width: auto;
	}
  
   .navbar
   {

   	padding:.8rem;
   	text-transform: uppercase;
   	font-weight: 700;
   	font-size:1rem ;
   	letter-spacing: 0.1rem;
   	background: transparent;
    font-family: Georgia,serif;
   }
   .navbar-nav li
   {
   	padding-right: 0.7rem;
   }
   .home-inner
   {
   	background-image: url("image.jpg");
    filter: blur(5px);
   -webkit-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   .caption
   {
    width: 100%;
    max-width: 100%;
    position:absolute;
    top:38%;
    color: white;
    
    z-index: 1;
   }
   #About_Us
   {
    font-size: 50px;
   }
   .caption h1
   {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-shadow: .1rem .1rem .7rem black;
   }
   .caption h2
   {
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: .1rem .1rem .5rem black;
   }
   #down
   {
    position: absolute;
    top:22rem;
    padding: 20px;
    font-size: 3em;
    text-shadow: .1rem .1rem .7rem black;

   }
   #down:hover
   {
    cursor:pointer;
    color:#eee;
    opacity: 0.8;
   }

   
   .card_img
   {
    height: 250px;
    padding: 10px;
   }
   #Read_More
   {
    width: 100px;

   }
   #topBtn
   {
   	position: fixed;
   	bottom: 40px;
   	right:40px;
   	height: 50px;
   	width: 50px;
   	border: none;
   	cursor: pointer;
   	padding: 15px;
   	display: none;
   }
   #cover
   {
   	height: 350px;
   	
   	float: right;

   }
   #About
   {
    background-image: url("http://i.stack.imgur.com/kb0Zm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   .card
   {
    padding: 10px;
    
   }
   #intro
   {
   	display: block;
   	margin-right: auto;
   	margin-left: auto;
   	font-size: 25px;
   	font-family: Georgia, serif
   	line-height: 1.0;
   }
   
   
   .social a
   {
    font-size:4.5em;
    padding: 2rem;
   }
   .fa-facebook
   {
     color: #3b5998;
   }
   .fa-twitter
   {
   	color: #38A1F3;

   }
   .fa-instagram
   {
   	color: #517fa4;

   }
   .fa-linkedin
   {
   	color:#0077B5 ;
   }
   .fa-youtube
   {
   	color: #c4302b;
   }
   .fa-facebook:hover,
   .fa-twitter:hover,
   .fa-instagram:hover,
   .fa-linkedin:hover,
   .fa-youtube:hover
   {
    color:#d5d5d5;
   }
    
   .col-12 h2
   {

   	font-size: 50px;
    color: black;
   }

   #card1
   {
    margin-left: 25px;
   }
   #card3
   {
    margin-right: 25px;
   }

   @media(max-width: 992px)
   {
   	.social a
   	{
   		font-size: 4em;
   		padding: 2rem;

   	}

   	#cover
   	{
   		height: 350px;

   	}

    .card
    {
      width: 20rem;
    }
    }
  
    
   
   @media(max-width: 768px)
   {
   	.social a
   	{
   		font-size: 2.5em;
   		padding: 1.2rem;
   	}
   	#cover
   	{
   		height: 150px;

    }
    .card
    {
      width:25rem;
      
      
    }
   
   @media(max-width: 576px)
   {
   	.social a
   	{
   		font-size: 2em;
   		padding: 0.6rem;
   	}
   	#cover
   	{
   		height: 200px;
   	}
    .card
    {
      width:25rem;
      margin-left: 25px;
      
    }
   }









 